@tailwind base;
@tailwind components;
@tailwind utilities;

.css-button-retro--black {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #ffffff;
  background: transparent;
  z-index: 0;
}
.css-button-retro--black:hover:after {
  top: 0;
  left: 0;
}
.css-button-retro--black:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #000000;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
} */

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 14px;
  background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
  background-color: #000000;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}
